.select2-container {
    width: 100% !important;
}

.error-label{
    color: red;
    display: none;
}
* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
  
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;  
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
  
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
    width: 1000px;
}

#secondBox, #preview1{
    display: none;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

.tpl-image{
    display: none;
}

.box2{
    cursor:pointer;
    padding:20px;
    float: left;
    width: 220px;
    height: 185px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
}

.tplImage{
    width: 180px !important;
    height: 100px;
}

.lblWarn{
    float: right;
    font-size: 13px;
}
.preview_html{
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 89%;
}

#sortable{
    list-style-type: none;
}
li.move{
    cursor: move;
}

.colorPick{
    margin-bottom: 10px;
}

.boxdiv{
    border: 1px solid #e4e7ea;
}

.sidediv{
    max-height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidediv::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.sidediv::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.sidediv::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1485c5;
}

ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }

.form-control{
    margin-bottom: 10px;
}

.module-container:hover{
    border: 2px solid #000;
}

.element-container:hover{
    border: 1px solid #000;
}

.btn-element-delete{
    cursor: pointer;
}

.module-controls-container {
    position: absolute;
    left: 17px;
    z-index: 99;
    border: 1px solid;
}

.btn-module-sort {
    color: #fff;
    background: #CDCDCD;
}

.btn-module {
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: red;
    background: #CDCDCD;
}

.newsletter-step label {
    text-align: right;
    float: right;
    font-size: 14px;
    color: #fff;
    line-height: 25px;
}

h4.newsletter-step {
    padding: 5px 10px;
    background-color: #1485c5;
}
h4.newsletter-step small {
    color: #fff;
    line-height: 27px;
    font-weight: 600;
}
label.template-name{ padding:5px 0  0 15px;}

label.box2.draggable.ui-draggable.ui-draggable-handle b {
    margin: 0px 0 4px;
    float: left;
}
