<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tbody>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="width:600px">
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <table align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:287px">
                                    <tbody>
                                        <tr>
                                            <td data-editable="image" align="center">
                                                <img class="img-full" src="" alt="img" width="287" height="155" id="tpl-image">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- SPACE -->
                                <table class="full-width" width="1" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                    <tbody><tr>
                                            <td width="1" height="40" style="font-size: 40px; line-height: 40px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- END SPACE -->

                                <table class="full-width" width="287" align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                    <tbody>
                                        <tr>
                                            <td data-editable="text" style="font-family: 'Lato', sans-serif; font-size: 20px; font-weight: 900; color: #383838; letter-spacing: 1px; line-height: 24px;" contenteditable="true" spellcheck="true" data-medium-editor-element="true" class="medium-editor-element" role="textbox" aria-multiline="true" data-medium-editor-editor-index="56" medium-editor-index="ee77a39a-6968-5a61-db22-c14308733ec2" data-placeholder="Type your text" id="tpl-title">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20" style="font-size: 1px; line-height: 20px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td data-editable="text" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: #999999; line-height: 24px;" contenteditable="true" spellcheck="true" data-medium-editor-element="true" class="medium-editor-element" role="textbox" aria-multiline="true" data-medium-editor-editor-index="59" medium-editor-index="31998d08-4ca8-6944-4c67-2f9f64489ede" data-placeholder="Type your text" id="tpl-description">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>